/*////
General Defaults
////*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
    background-color: slategray;
  background-size: cover;

  /* margin: 0px; */
  width: 100%;
}

div {
  display: inline-block;
}

/*////
Header
////*/

header{
  position: fixed;
  z-index: 1;
  display: inline;
  width: 100%;
}

nav {
  display: inline;
  position: fixed;
  right: 0px;
  text-align: right;
  padding: 10px;
  margin-right: 40px;
  /* width: 100%; */
  font-size: 1em;
  border-radius: 56px;
  /* background: slategray; */
  /* border: solid lightslategrey; */
  /* box-shadow: 0 2px 21px darkslategrey; */
}

nav a{
  text-decoration: none;
  color: #e0e0e0;
  padding-top: 15px;
  margin: 5px;
  }

/*////
Body
////*/
#mbanner {
  text-align: center;
  margin: 0px;
  color:#ffffff;
  display: block;
  padding-top: 100px;
  padding-bottom: 240px;
  /* margin-bottom: 63px; */
  height: 200px;
  position: relative;
  font-size: 25px;
  width:100%;
  /* background: url(imgs/treetops.jpg); */
  /* background-size: cover; */
  /* box-shadow: 0 8px 21px  darkslategrey; */
  top: 65px;
}

div#msquarelogo {
  border: 10px;
  border-color: #fff;
  border-style: solid;
  border-radius: 5px;
  margin-left: auto;
  width: 300px;
  height: 300px;
  line-height: 359%;
  /* text-align: center; */
  padding: 5px;
  padding-top: 16px;
  float: center;
  margin-right: auto;
}

#msquarelogo h1 {
  font-size: 3.5em;
  margin: auto;
  clear: both;
}

#mawesome {
  font-variant: small-caps;
  font-size: 1.5em;
  padding-top:67px;
  text-align: right;
  margin-left: 10%;
  font-weight: lighter;
}

#content {
  text-align: left;
  position: relative;
  width: 50%;
  top: 236px;
  margin-right: 11%;
  margin-left: 16%;
  /* background: firebrick; */
  padding: 10px;
  /* border-radius: 5px; */
  color: whitesmoke;
  border-left: solid;
  /* border-left-color: whitesmoke; */
  /* border-left-width: medium; */
  border-color: whitesmoke;
}

div#content {}

#content h3 {
  text-align: center;

  font-size: 1.75em;

}

#content p {
  font-size: 1.3em;
}

#beardnav {
  /* float: center; */
  text-align: center;
  width: 57%;

  border: 2px groove;
  border-color: darkslategrey;
  border-radius: 122px;
  margin: 22%;
  margin-top: 2%;
  margin-bottom: 9%;
  background: steelblue;
}

#beardnav ul {
  width: 100%;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}
#beardnav li {
  margin: 2%;
  /* margin-right: 4%; */
  /* margin-top: 3%; */
  /* margin-bottom: 5%; */
  display: inline-block;
  /* float: center; */
  /* padding: 10px; */
  /* border: 5px; */
  /* border-color: #fff; */
  /* border-style: solid; */
  border-radius: 5px;
  /* font-size: 2em; */
  height: 130px;
  width: 130px;
  background: url(imgs/gdicon.png)no-repeat;
  position: relative;
  left: 2px;
}

#beardnav a {
  padding: 10px;
  color: #f9f9f9;
  text-decoration: none;
  margin: auto;
   position: relative;
  top: -2px;
  padding-top: 100px;
  FONT-SIZE: 2em;
  font-weight: bolder;
  font-variant: small-caps;
  left: -3px;
}


/*////
Footer
////*/

div#footbar {
  background: #f9f9f9;
  width: 100%;

  display: inline-block;
  box-shadow: 0 -2px 21px darkslategrey;
}

#footbar span {
  position: relative;
  top: 10px;
  font-style: italic;
  color: #9f9f9f;
  margin-left: 10%

}
.icons {
  width: 500px;
  margin: 0px;

  float: right;
}

.icons a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 10px;
  vertical-align: middle;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
}

.icons a.twitter { background: url(imgs/social/twitter.png) left top no-repeat; }
.icons a.vimeo { background: url(imgs/social/vimeo.png) left top no-repeat; }

.icons a.linkedin { background: url(imgs/social/linkedin.png) left top no-repeat; }
.icons a.facebook { background: url(imgs/social/facebook.png) left top no-repeat; }
.icons a.github { background: url(imgs/social/github.png) left top no-repeat; }
.icons a.googleplus { background: url(imgs/social/googleplus.png) left top no-repeat; }
.icons a.email { background: url(imgs/social/email.png) left top no-repeat; }
.icons a:hover { background-position: left -34px; }
